<nav class="navbar navbar-expand-md navbar-light bg-white navbar fixed-top">
    <a class="navbar-brand" href="/">SalemStore5 <i class="fas fa-cat"></i> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link"  href="/">Inicio </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/productos/">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/horoscopo/">Horoscopo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/contactos/">Contactos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/entrar/">Entrar</a>
            </li>
        </ul>
    </div>
</nav>